<html>
	<body>
		<form name="login" action="submit" method="post" accept-charset="utf-8">
		    <div>
	        	<label for="usermail">Email</label>
	        	<input type="email" name="usermail" placeholder="yourname@email.com"/>
		    </div>
	        <div>
	        	<label for="password">Password</label>
	        	<input type="password" name="password" placeholder="password"/>
	        </div>
	        <div>
	        	<input type="submit" value="Login"/>
	        </div>
		</form>
	</body>
</html>